<div id="<%= dom_id facility %>">
  <p>
    <strong>Name:</strong>
    <%= facility.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= facility.address %>
  </p>

  <p>
    <strong>Parking spot:</strong>
    <%= facility.parking_spot %>
  </p>

  <p>
    <strong>Vehicle:</strong>
    <%= facility.vehicle_id %>
  </p>

</div>
