<!--<p style="color: green"><%= notice %></p>-->
<div class="card">
<div class="card-body">
<%= render @facility %>

<div>
  <%= link_to "Edit this facility", edit_facility_path(@facility), class: "btn btn-link" %> |
  <%= link_to "Back to facilities", facilities_path, class: "btn btn-link" %>

  <%= button_to "Destroy this facility", @facility, class: "btn btn-danger", method: :delete %>
</div>
</div>
</div>
