<div id="<%= dom_id vehicle %>">
  <p>
    <strong>Vin:</strong>
    <%= vehicle.vin %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= vehicle.year %>
  </p>

  <p>
    <strong>Make:</strong>
    <%= vehicle.make %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= vehicle.model %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= vehicle.owner&.to_s %>
  </p>

</div>
